* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.image-preview {
    margin-top: 20px;
}

.image-preview img {
    max-width: 100%;
    border-radius: 10px;
}

.result {
    margin-top: 20px;
}

.result p {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
